* {
    box-sizing: border-box;
}

#app {
    display: grid;
    gap: 0.4em;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;

    padding: 0.5em;
    background: #666;
    width: 9em;
    height: 12em;

    font-family: monospace;
    font-size: 5vh;
}

#display {
    grid-column: 1 / 5;

    display: flex;
    justify-content: flex-end;

    height: 1.6em;
    padding: 0 0.3em 0 0.3em;
    background: white;
    border: solid;
}

#button-7 {
    grid-column: 1;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: #ddd;
    cursor: pointer;
    user-select: none;
}
.button:hover {
    background: #aaa;
}

